<div class="form-wrraper">

<h1 class="text-center ftsz-24">Sucessfully logged In</h1>
<div>
<form method="post" action="/logout">
    <button type="submit" class="btn text-center">Logout</button>
</form>
</div>
</div>
